
 <div id="about" class="container" style="margin-top: 60%">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-7 mb-4">

        <div class="view overlay z-depth-1-half">
          <img src="../../assets/about.png" class="card-img-top aboutImg" alt="">
          <div class="mask rgba-white-light"></div>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-5 mb-4">

        <h2>Qui sommes-nous</h2>
        <hr>
        <p><span class="bold">Advanced smart technology</span> est un groupe fondé par des anciens techniciens supérieurs Nous intervenons dans divers secteurs d'activités industrielles générales et pointues.Nous mettons à la disposition de nos partenaires tout le savoir faire et les compétences de nos collaborateurs , tous anciens cadres en ingénierie technico-industrielle , disposant d'une très grande maîtrise des nouvelles technologies . Nous vous apportons le meilleur en terme de solutions et d'inovations dans des votre secteur d'activité .
          Rejoignez nous et faire confiance en notre expérience.</p>
      </div>
      <!--Grid column-->

    </div>