<section id="service" class="py-5">

  <!-- Container -->
  <div class="container">
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center mb-5">Nos services</h2>
      <!-- Section description -->
      <p class="lead grey-text text-center w-responsive mx-auto mb-5">
          Advanced Smart technology touche plusieurs domaines parmi les, l'industrie, l'automatisme et maintenance
      </p>

      <!-- Grid row -->
      <div class="row">

          <!-- Grid column -->
          <div class="col-lg-5 text-center text-lg-left">
              <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image">
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-7">

              <!-- Grid row -->
              <div class="row mb-3">

                  <!-- Grid column -->
                  <div class="col-1">
                      <i class="fa fa-mail-forward fa-lg purple-text"></i>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-xl-10 col-md-11 col-10">
                      <h5 class="font-weight-bold mb-3">Prestations mécanique</h5>
                      <!-- <p class="grey-text"> -->
                        <ul>
                          <li>Entretien et réparation des groupes électrogéne.</li>
                          <li>Entretien et réparation des groupes frigoriphiques.</li>
                          <li>Entretien,réparation et installation des climatiseurs et chambre froides.</li>
                          <li>Entretien et réparation des engins manutention (Clark,fléche,etc...).</li>
                          <li>Installation et réparation des radars (bateaux, routiére, sol et air).</li>
                       </ul>
                      <!-- </p> -->
                  </div>
                  <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row mb-3">

                  <!-- Grid column -->
                  <div class="col-1">
                      <i class="fa fa-mail-forward fa-lg purple-text"></i>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-xl-10 col-md-11 col-10">
                      <h5 class="font-weight-bold mb-3">Vente et installation matériels de sécurité</h5>
                      <!-- <p class="grey-text"> -->
                          <ul>
                            <li>Installation des caméras de survéillance.</li>
                            <li>installation des vidéophones.</li>
                            <li>Installation GPS voiture et camion.</li>
                            <li>Installation des systéme de sécurité incendies.</li>
                            <li>Domotique industriel.</li>
                        </ul>
                     <!-- </p> -->
                  </div>
                  <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <!--Grid row-->
              <div class="row">

                  <!-- Grid column -->
                  <div class="col-1">
                      <i class="fa fa-mail-forward fa-lg purple-text"></i>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-xl-10 col-md-11 col-10">
                      <h5 class="font-weight-bold mb-3">Prestation éléctrique et automatisme industriel</h5>
                      <!-- <p class="grey-text mb-0"> -->
                        <ul>
                        <li>Entretien et installation des armoires et moteurs électrique.</li>
                        <li>Vente des piéces électrique,pneumatique et automatisme.</li>
                        <li>Installation des chemins de cable eléctrique puissance et commande.</li>
                        <li>Energie renouvlable.</li>
                        </ul>
                      <!-- </p> -->
                  </div>
                  <!-- Grid column -->

              </div>
              <!--Grid row-->

          </div>
          <!--Grid column-->

      </div>
      <!-- Grid row -->

  </div>
  <!-- Container -->

</section>