<section id="contact" class="py-5" style="background-color: #eee;">

    <div class="container">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center mb-5">Envoyez nous un message</h2>
        <!-- Section description -->
        <p class="text-center w-responsive mx-auto mb-5">
            Vous avez besoin d'un service, vous avez des suggestions ou bien de réclamation n'hésitez pas
            de nous envoyez un message.
        </p>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-9 mb-md-0 mb-5">

            <form>

                <!-- Grid row -->
                <div class="row">

                <!-- Grid column -->
                <div class="col-md-6">
                    <div class="md-form mb-0">
                    <input type="text" id="contact-name" class="form-control">
                    <label for="contact-name" class="">votre nom</label>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6">
                    <div class="md-form mb-0">
                    <input type="text" id="contact-email" class="form-control">
                    <label for="contact-email" class="">votre email</label>
                    </div>
                </div>
                <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row">

                <!-- Grid column -->
                <div class="col-md-12">
                    <div class="md-form mb-0">
                    <input type="text" id="contact-Subject" class="form-control">
                    <label for="contact-Subject" class="">Sujet</label>
                    </div>
                </div>
                <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row">

                <!-- Grid column -->
                <div class="col-md-12">
                    <div class="md-form">
                    <textarea type="text" id="contact-message" class="form-control md-textarea" rows="3"></textarea>
                    <label for="contact-message">votre message</label>
                    </div>
                </div>
                <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary">Envoyer</a>
            </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li>
                <i class="fa fa-map-marker fa-2x purple-text"></i>
                <p>N°3O APPT 8 RUE MOULAY AHMED LOUKILI RABAT HASSAN RABAT</p>
                </li>
                <li>
                <i class="fa fa-phone fa-2x mt-4 purple-text"></i>
                <p>+212(0)6-00 21 31 13</p>
                </li>
                <li>
                <i class="fa fa-envelope fa-2x mt-4 purple-text"></i>
                <p class="mb-0">admin@asmatech.ma</p>
                </li>
            </ul>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>

</section>