<section id="team" class="text-center py-5" style="background-color: #eee;">

  <!-- Container -->
  <div class="container">

      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold mb-5">Notre équipe</h2>

      <!-- Carousel Wrapper -->
      <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade"
          data-ride="carousel" data-interval="false">
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
              <!--First slide-->
              <div class="carousel-item active">
                  <div class="testimonial">
                      <!--Avatar-->
                      <div class="avatar mx-auto mb-4">
                          <img src="../../assets/avatar.png" class="rounded-circle img-fluid"
                              alt="First sample avatar image">
                      </div>
                      <!--Content-->
                      <p>
                          <i class="fa fa-quote-left"></i> Ancien millitaire avec une éxpérience de 30 ans dans le domaine
                          de radar, l'entrtien et installation des caméras du sérveillance.
                      </p>
                      <h4 class="font-weight-bold">TOURABI Mohammed</h4>
                      <h6 class="font-weight-bold my-3">Foundateur à ASMATECH</h6>
                      <!--Review-->
                      <i class="fa fa-star amber-text"> </i>
                      <i class="fa fa-star amber-text"> </i>
                      <i class="fa fa-star amber-text"> </i>
                      <i class="fa fa-star amber-text"> </i>
                      <i class="fa fa-star-half-full amber-text"> </i>
                  </div>
              </div>
              <!--First slide-->
              <!--Second slide-->
              <div class="carousel-item">
                  <div class="testimonial">
                      <!--Avatar-->
                      <div class="avatar mx-auto mb-4">
                          <img src="../../assets/avatar.png" class="rounded-circle img-fluid"
                              alt="Second sample avatar image">
                      </div>
                      <!--Content-->
                      <p>
                          <i class="fa fa-quote-left"></i> Ingénieur d'état en agriculture... </p>
                      <h4 class="font-weight-bold">EL KATI Nabil</h4>
                      <h6 class="font-weight-bold my-3">Co-fondateur à ASMATECH</h6>
                      <!--Review-->
                      <i class="fa fa-star amber-text"> </i>
                      <i class="fa fa-star amber-text"> </i>
                      <i class="fa fa-star amber-text"> </i>
                      <i class="fa fa-star amber-text"> </i>
                      <i class="fa fa-star amber-text"> </i>
                  </div>
              </div>
              <!--Second slide-->
              <!--Third slide-->
             
              <!--Third slide-->
          </div>
          <!--Slides-->
          <!--Controls-->
          <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" style="background-color: black;"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" style="background-color: black;" ></span>
                    <span class="sr-only">Next</span>
            </a>
          <!--Controls-->
      </div>
      <!-- Carousel Wrapper -->

  </div>
  <!-- Container -->

</section>